/*print options*/

.page-wrap1 { 
    width: 250mm;
    height:210mm; 
    margin: 0 auto; 
}

@media print  
{
    a[href]:after {
    content: none !important;
     }
    @page {
    margin-top: 10;
    margin-bottom: 0;
    }
     body{
    padding-top: 150px;
    padding-bottom: 72px ;
    }
    #printable { display: none; }

    @media print
    {
        #non-printable { display: none; }
        #printable { display: block; }
    }
}


/*disable scroll*/
html {
    overflow: scroll;
    overflow-x: hidden;
}
::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
}
/* optional: show position indicator in red */
::-webkit-scrollbar-thumb {
    background: grey;
}

/*menu*/

@media (max-width: 991px) {
  .page-header .page-header-top .top-menu .navbar-nav>li.dropdown-user .dropdown-toggle>img {
    margin-top: -54px !important;
   }
   .page-header .page-header-top .top-menu .navbar-nav>li.dropdown {
    height: 0 !important;
   }
   .page-header .page-header-top .top-menu .navbar-nav>li.dropdown-user .dropdown-toggle {
    padding: 8px 0 0px 4px !important;
   }
}

.container {
    width: 1230px !important;
  }
@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .container {
    width: 100% !important;
  }
}
.ngreen{
    background-color: #26c281;
    color: #fff !important;
}
.dpink{
  background-color:#ad448e;
  color: #fff !important;
}
.lgreen{
  background-color:#99ad44;
  color: #fff !important;
}
.opacity{
  opacity: .1;
}